html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: black;
  margin: 0;
  padding: 0;
  justify-content: center;
  scroll-behavior: smooth;
}

input, textarea, ::placeholder {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}


/* Barre de navigation */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  font-size: 1.2em;
}

.burger, .close-burger {
  display: none;
}

.close-burger img {
  display: none;
  width: 30px;
  margin: 5px;
  cursor: pointer;
}

#Agenceco {
  color: #255919;
  font-size: 2em;
  font-weight: 500;
  margin: 0;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 15px 0;
  padding-right: 10px;
}


/* En-tête */

.backgroundAccueil {
  background-image: url("../assets/rodion-kutsaev-049M_crau5k-unsplash_1.jpg");
  background-size: cover;
  height: 800px;
  width: 100%;
  background-position: center;
  position: relative;
  bottom: 60px;
}


/* Accueil */

.Accueil { 
  position: absolute;
  right: 100px;
  bottom: 80px;
  text-align: right;
}

.title-line1 {

  color: white;
  font-size: 3em;
  margin: 0;
}

.title-line2 {
  color: #C8FF00;
  font-size: 3.7em;
  font-weight: 600;
  margin: 0;
}

h2 {
  color: #469B61;
  text-align: center;
  font-size: 3.2em;
  font-weight: 600;
}


/* Notre équipe */

#Equipe {
  margin-top: -60px;
}

.team {
  text-align: center;
  font-size: 1.7em;
  padding: 0 50px;
}

.staff {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.staff div {
  margin: 50px auto 0 auto;
  width: 240px;
  height: 450px;
  justify-items: center;
}

.staff-img {
  height: 240px;
  width: 240px;
  object-fit: cover; 
  border-radius: 50%;
  object-position: top;
}

.staff h3 {
  font-size: 1.7em;
  font-weight: 500;
  margin: 0;
}
.job {
  text-align: center;
  color: #868686;
  font-size: 1.1em;
  font-weight: 400;
  margin: 5px 0;
}


/* Staisfaction clients  */

.Satisfaction {
  background-color: #183A43;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.2em;
  padding: 10px 130px;
  text-align: center;
}

.number {
  color: #C8FF00;
  font-size: 2em;
  font-weight: 700;
  margin: 10px 0 -20px 0;
}


/* Nos services  */

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-top: 100px;
}

.services img {
  padding: 125px;
  width: 225px;
  background-color: #F4F6F5;
  border-radius: 30px;
}

.services h3 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  margin: 0;
}


/* Actualités */

.news {
  background-color: #469B61;
  margin: 15px 100px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
  font-weight: 400;
}

.clickbox {
  cursor: pointer;
}

.title {
  font-size: 1.6em;
  font-weight: 500;
  margin: 10px 0;
}

.content {
  overflow-y: hidden;
  max-height: 60px;
}

#noArticle {
  font-size: 1.3em;
  text-align: center;
}

/* Contactez-nous */

#Contact {
  background-color: #183A43;
  text-align: center;
  color: white;
  padding-bottom: 150px;
}

#Contact h2 {
  color: #C8FF00;
  padding-top: 50px;
  font-weight: 700;
  margin-bottom: 0px;
}

#Contact p {
  margin: 10px 100px;
  font-size: 1.7em;
  font-weight: 400;
}

.form-contact {
  margin: 0 120px;
  position: relative;
}

.line-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  margin: 50px 0;
}

.line-form {
  width: 100%;
}

.line-block {
  background-color: white;
  height: 4px;
  border-radius: 2px;
}

.line-contact input, .line-contact textarea {
  background-color: #183A43;
  color: white;
  width: 100%;
  height: 50px;
  border-width: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 300;
}

#message {
  min-height: 300px;
}

#Contact ::placeholder {
  color: white;
  font-weight: 300;
}

#submit {
  background-color: #C8FF00;
  color: black;
  width: 180px;
  height: 60px;
  border-width: 0;
  border-radius: 30px;
  font-size: 1em;
  font-weight: 500;
  position: absolute;
  right: 0;
  cursor: pointer;
}


/* A propos de nous */

#About {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 100px 50px 0 50px;
}

.about {
  max-width: 600px;
  aspect-ratio: 1.5;
  align-items: center;
}

#about-staff {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

#AboutUs {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.1em;
}

#AboutUs h3 {
  padding-top: 20px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  margin: 0;
}

#AboutUs p {
  color: #868686;
  text-align: center;
  font-weight: 400;
  padding: 0 20px;
}

#logo-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

#logo-about h4 {
    color: #183A43;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
    margin: 10px 0;
}

.logo-about {
  width: 150px;
  justify-items: center;
}

.logo {
  border: solid 4px #183A43;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-position: center;
  padding: 40px 30px 30px 40px;
  justify-items: center;
}

.logo img {
  height: 50px;
}

#logo-resp {
  margin-left: -10px;
}


/* Notre galerie */

#Galerie {
  margin: 100px;
  margin-bottom: 0;
}

#Galerie p {
  text-align: center;
  margin: -20px 0 30px 0;
  font-size: 1.7em;
}

.slider {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.slides {
  display: flex;
  transition: all 0.5s;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

.slider-btn {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

#prev, #next {
  background-color: white;
  border: 1px solid black;
  padding: 8px 18px;
  font-size: 1.5em;
  border-radius: 50%;
}

#prev:hover, #next:hover {
  background-color: black;
  color: #C8FF00;
  cursor: pointer;
}


/* Pied de page  */

#Liens {
  background-color: #183A43;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 30px 50px;
}

.box-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title-links {
  font-size: 23px;
  font-weight: 400;
}

.text-links {
  font-size: 18px;
  font-weight: 400;
}

.Coordonnees {
  min-width: 250px;
  display: flex;
  align-items: center;
  gap: 20px;
}

#Liens img {
  width: 35px;
  height: auto;
}


/* Copyright */

#Copyright {
  background-color: #0C2227;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 40px 100px;
  font-size: 14px;
  font-weight: 300;
}

#connect-btn {
  background-color: #C8FF00;
  border-radius: 10px;
  border: none;
  padding: 8px 20px;
  font-size: 1.2em;
  font-weight: 500;
}

.Network {
  border: 2px solid white;
  border-radius: 10px;
  width: 25px;
  padding: 5px;
  margin: 0 10px;
}



/* Page de connexion */


.login-page {
  margin: 150px auto;
  text-align: center;
}

.login-page p {
  font-size: 1.8em;
}

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  justify-content: center;
}

.login-input {
  font-size: 1.2em;
  font-weight: 500;
  margin: 15px;
  padding: 15px 20px;
  border: 3px solid #868686;
  border-radius: 10px;
  position: relative;
}

.login-btn {
  background-color: #C8FF00;
  color: black;
  width: 220px;
  height: 60px;
  border-width: 0;
  border-radius: 30px;
  font-size: 1.1em;
  font-weight: 500;
  margin: 30px auto;
  padding: 0;
  cursor: pointer;
}

#messageLog {
  font-size: 0.8em;
  color: red;
}



/* Page Nos actualités  */

.news-page {
  margin: 100px auto;
  text-align: center;
}

.btn-addNews {
  margin-bottom: 50px;
}

.addNews-btn {
  background-color: #C8FF00;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 2em;
  font-weight: 400;
}

.news-page .title,.news-page .publicationDate {
  text-align: left;
  margin: 0;
}

.news-page .description,.news-page .content {
  margin: 20px;
  max-height: 60px;
  overflow-y: hidden;
}

.bottom-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-modify {
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 10;
}

.updateNews {
  background-color: #ffaa01;
  color: white;
  font-weight: 600;
  font-size: 1em;
  border: none;
  padding: 5px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteNews {
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

#messageDel {
  font-size: 1.5em;
  color: #469B61;
}

#blogBottom {
  margin-top: 50px;
  margin-bottom: -70px;
}


/* Page Ajouter une actualité */

.addNews-page {
  margin: 150px auto;
  text-align: center;
}

.addNews {
  margin: 0 100px;
  background-color: #183A43;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
}

.addNews-title, .addNews-textarea {
  background-color: #183A43;
  border: 3px solid white;
  border-radius: 10px;
  width: 100%;
  color: white;
  font-size: 1.3em;
  margin: 20px;
}

.addNews ::placeholder {
  color: white;
}

.addNews-title {
  padding: 20px 10px;
}

.addNews-textarea {
  padding: 20px 10px 70px 10px;
}

.saveNews {
  background-color: #C8FF00;
  color: black;
  width: 220px;
  height: 60px;
  border-width: 0;
  border-radius: 30px;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
  margin: 20px;
}

#messageAdd {
  font-size: 0.8em;
  color: red;
}



/* Page Modifier l'actualité */


.submit-update {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.submit-update .deleteNews {
  width: 220px;
  height: 60px;
  border-width: 0;
  border-radius: 30px;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
  margin: 20px;
}


/* Page Détail de l'actualité */

#backToNews {
  background-color: #C8FF00;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 0.8em;
}


#detailDescription, .navArticles {
  margin: 100px;
  text-align: center;
}

#detailContent {
  text-align: justify;
}

#PrevNews, #NextNews {
  background-color: #183A43;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 10px;
  font-size: 0.8em;
  width: 150px;
  cursor: pointer;
}

.detailBottom {
  margin-bottom: -70px;
}

.navArticles {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.backToTop {
  background-color: #469B61;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 0.7em;
}

/* Responsive */


@media (max-width:1200px) {
  nav {
    font-size: 0.9em;
  }

  .backgroundAccueil {
    height: unset;
    aspect-ratio: 1.5;
  }
  #About {
    flex-direction: column;
  }

  .services {
    justify-content: space-between;
    gap: unset;
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* ------- */

@media (max-width:1024px) {
  .services {
    flex-direction: column;
  }

  .services div {
    margin-bottom: 50px;
  }

  #Liens {
    justify-content: center;
    gap: 20px;
    padding: 30px 50px;
  }

  #Copyright {
    padding: 40px 50px;
    justify-content: center;
    gap: 20px;
  }
}

/* ------- */

@media (max-width:905px) {
  .burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .burger span {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px;
  }

  nav {
    padding: 10px;
    flex-wrap: wrap;
  }

  .nav-links {
    width: 100%;
    flex-direction: column;
    text-align: center;
    font-size: 1.7em;
    font-weight: 600;
    gap: 50px;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.8s ease;
  }

  .nav-links.open {
    max-height: 500px;
  }

  .close-burger img {
    display: unset;
  }

  .backgroundAccueil {
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Accueil {
    right: unset;
    bottom: unset;
    text-align: center;
    margin: 0;
    padding-top: 100px;
    font-size: 2vw;
  }

  h2 {
    font-size: 2.3em;
  }

  .team {
    font-size: 1.1em;
  }

  .staff {
    flex-direction: column;
    margin-top: 50px;
  }

  .staff div {
    margin: 0;
    transform: scale(1.1);
  }

  .Satisfaction {
    flex-direction: column;
    padding: 10px 50px;
  }

  .services {
    transform: scale(0.6);
    margin-top: -200px;
  }

  #Actualites {
    margin-top: -200px;
  }
  .news, #detailDescription, .navArticles {
    text-align: center;
    margin: 15px 20px;
    font-size: 0.9em;
  }

  #Contact {
    padding-bottom: 50px;
  }

  #Contact p, .form-contact, #Galerie {
    margin: 0 10px;
  }

  .line-contact, #logo-about {
    flex-direction: column;
  }

  #submit {
    position: unset;
    margin: auto;
  }

  #about-staff-box {
    display: none;
  }

  .about {
    aspect-ratio: unset;
    margin-top: -50px;
  }

  #Liens {
    flex-direction: column;
    padding: 10px;
  }

  .box-links {
    text-align: center;
  }

  #Copyright {
    flex-direction: column;
    position: relative;
    padding: 50px;
    padding-top: 20px;
  }

  .copyright {
    position: absolute;
    bottom: 20px;
    font-size: 0.8em;
  }
  
  .addNews {
    font-size: 0.7em;
    margin: 0 25px;
  }

  .addNews-btn {
    font-size: 1.5em;
  }

  .submit-update, .btn-modify {
    gap: 5px;
    flex-direction: column;
  }

  .saveNews {
    width: 180px;
  }

  .updateNews, .deleteNews {
    /* font-size: 0.7em; */
    width: 100px;
    text-align: center;
  }

  .submit-update .deleteNews {
    width: 180px;
  }

  #PrevNews, #NextNews {
    width: 120px;
  }
}



